<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>OurShop</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand logo" href="/">OurShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% load menu_item_tag %}
        {% menu_items_all %}
        {% include 'menu_items_nav.html' %}
        <div class="hstack gap-3">
            <div class="cart">
                {% load cart %}
                <a href="{% url 'cart' %}">
                    <i class="fa-solid fa-cart-shopping" style="color:white">  {% cart_count %}</i>
                </a>
            </div>
            <div class="vr" style="color:white"></div>
            <div class="sign">
                {% if request.user.is_authenticated %}
                    <h3 class="user">{{ request.user.first_name }} {{ request.user.last_name }}</h3>
                    <a type="button" class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a type="button" class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
                    <a type="button" class="btn btn-primary" href="{% url 'signin' %}">Sign In</a>
                {% endif %}
            </div>
        </div>
      </div>
    </nav>
{% block content %}
{% endblock %}
<footer>
    <div class="container-blocks">
         <div class="copyright">@OurShop</div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/77e6a0de62.js" crossorigin="anonymous"></script>
</body>
</html>